@import './variables';

.button{
    border: 1px solid transparent;
    border-radius: 5px;
    color: #fff;
    background-color: $c-secondary;
    padding: 13px 30px;
    min-width: 150px;
    transition: box-shadow .8s;
    display: inline-flex;
    justify-content: center;
    &:hover{
        cursor: pointer;
        border-color: $c-primary;
        background-color: #fff;
        color: $c-primary;
    }
    &-primary{
        &--icon{
            display: flex;
            align-items: center;
            p{
                padding: 0 10px;
            }
        }
    }
    &-icon{
        background-color:transparent;
        padding: 0;
        border: none;
        border-radius: 0;
        min-width: 50px;
    }
}


.icon{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    &:before{
        position: absolute;
        display: block;
    }
    &-account{
        &:before{
            content: url('./../img/svg/icon-account.svg');  
        }
    }
    &-vk{
        &:before{
            content: url('./../img/svg/icon_VK.svg');  
        }
    }
    &-instagram{
        &:before{
            content: url('./../img/svg/icon-insta.svg');  
        }
    }
    &-telegram{
        &:before{
            content: url('./../img/svg/icon-telegram.svg');  
        }
    }
    &-shop{
        &:before{
            content: url('./../img/svg/icon-shop.svg');  
        }
    }
    &-call{
        &:before{
            content: url('./../img/svg/icon-call.svg');  
        }
    }
    &-check{
        &:before{
            content: url('./../img/svg/icon-check.svg');  
        }
    }
    &-attention{
        &:before{
            content: url('./../img/svg/icon-attention.svg');  
        }
    }
    &-lock{
        &:before{
            content: url('./../img/svg/icon-lock.svg');  
        }
    }
}