@import './variables';
  
  body {
    min-width: 320px;
    height: 100%;
    font: 400 16px/1 $f-main;
    color: #1a1a1e; 
    &.active{
      overflow: hidden;
    }
  }


    .container{
        max-width: 1160px;
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
    }

    .d-flex{
      display: flex;
      align-items: center;
    }

    .bg-grey{
      background-color: #FAF5EF;
    }

    .main-text{
      font: 600 3.875rem/0.88 $f-main;
      color: $c-primary;
      margin-bottom: 35px;
    }
    .second-text{
      font: 400 1.125rem/1.44 $f-secondary;
      color: $c-primary;
    }

    .discount{
      font: 600 0.875rem/1.13 $f-secondary;
      text-transform: uppercase;
      padding: 9px 8px;
      color: $c-secondary;
      letter-spacing: 1px;
  }


    @media only screen and (max-width: 1060px) {
      .container{
        max-width: calc(100% - 100px);
        margin: 0 50px;
        padding: 0;
      }
      .hide-tablet {
        display: none;
      }
    }
    @media only screen and (max-width: 767px) {
      main{
        margin-top: 50px;
      }
      .container{
        max-width: calc(100% - 22px);
        margin: 0 11px;
      }
      .main-text{
        font-size: 1.875rem;
        margin-bottom: 20px;
      }
      .second-text{
        font-size: 0.875rem;
      }

    }