@import './variables';
  
  body {
    height: 100%;
    font: 400 16px/1 $f-main;
    color: #1a1a1e; 
  }


    .container{
        max-width: 1160px;
        width: 100%;
        margin: 0 auto;
    }

    .d-flex{
      display: flex;
      align-items: center;
    }

    .bg-grey{
      background-color: $section-bg;
    }