html {
    -webkit-text-size-adjust: none;
    height: 100%; }
  
  body {
    background-color: #fafafa;
    font-size: 14px;
    color: #1a1a1e; }
  
  .body_flex {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  
  .bg_white {
    background-color: #fff; }
  
  .nobr {
    white-space: nowrap; }
  
  .empty-cart {
    text-align: center;
    margin: 20px;
    font-size: 15px;
    color: #000;
    font-family: 'Proxima Nova Semibold', sans-serif; }
  
  .mCSB_scrollTools_horizontal {
    opacity: 0 !important; }
  
  .senler.senler-btn {
    display: none !important; }
  
  .black-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 11; }
    @media all and (max-width: 599px) {
      .black-overlay {
        background-color: rgba(0, 0, 0, 0.5); } }
  
  .black-overlay-2, .black-overlay-3, .black-overlay-4 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(31, 41, 31, 0.6);
    z-index: 998; }
  
  .quantity {
    position: relative; }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  
  input[type=number] {
    -moz-appearance: textfield; }