@import './variables';

.page{
    &-top-line{
        border-bottom: 1px solid #EEF2F6;
    }
    &-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 0;
        
        &__name{
            a{
                display: flex;
                align-items: center;
            }
            h3{
                font: 700 1rem/1.25 $f-main-sb;
                span{
                    font-weight: 400;
                    font-family: $f-main;
                }
            }
            
        }
        &__actions{
            display: flex;
            justify-content: space-between;
        }
        &__socials{
            display: flex;
            align-items: center;
            .icon-wrapper{
                margin: 0 5px;
            }
        }
        &__callback{
            margin-left: 15px;
        }
        &__shop{
            margin-left: 15px;
            position: relative;
            .shop{
                
                &:hover{
                    .shop-hint{
                        transition: .8s;
                        display: block;
                    }
                }
            }
        }
        @media only screen and (max-width: 1060px){
            
        }
        @media only screen and (max-width: 767px) {
            padding-left: 0;
            padding-right: 0;
            &__callback,
            &__shop{
                margin-left: 0;
                button{
                    background-color: transparent;
                }
                p{
                    font-size: 0;
                    padding: 0;
                }
            }
            &__callback{
                .icon-call{
                    background: #F4F6F9;
                }
            }
        }
    }
    &-menu{
        border-bottom: 1px solid #EEF2F6;
    }
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    &-item{
        padding: 0px 10px;
        &:hover{
            cursor: pointer;
            a{
                color: $c-secondary;
            }
            
        }
    }
    &-link{
        font: 400 1rem/1.25 $f-main;
        
    }
}