@import './variables';

.page{
    &-top-line{
        border-bottom: 1px solid #EEF2F6;
    }
    &-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 0; 
        
        &__name{
            a{
                display: flex;
                align-items: center;
            }
            h3{
                font: 700 1.25rem/1.25 $f-secondary;
                color: $c-primary;
                span{
                    font-weight: 400;
                    font-family: $f-secondary;
                }
            }
            
        }
        &__actions{
            display: flex;
            justify-content: space-between;
        }
        &__account{
            margin-left: 15px;
        }
        &__shop{
            margin-left: 15px;
            position: relative;
            .shop{
                &:hover{
                    .shop-hint{
                        transition: .8s;
                        display: block;
                    }
                }
            }
        }
        @media only screen and (max-width: 1060px){
            
        }
        @media only screen and (max-width: 767px) {
            padding-left: 0;
            padding-right: 0;
            &__account,
            &__shop{
                margin-left: 0;
                button{
                    background-color: transparent;
                }
                p{
                    font-size: 0;
                    padding: 0;
                }
            }
            &__account{
                .icon-account{
                    background: #F4F6F9;
                }
            }
        }
    }
    &-menu{
        border-bottom: 1px solid #EEF2F6;
    }
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    &-item{
        padding: 0px 10px;
        &:hover{
            cursor: pointer;
            a{
                color: $c-secondary;
            }
            
        }
        &:first-child{
            padding-left: 0;
        }
        &:last-child{
            padding-right: 0;
        }
    }
    &-link{
        font: 400 1rem/1.25 $f-secondary;
        
    }
}

.lang-items{
    @include d-flex(flex, center, center);
    li{
        position: relative;
        a{
            color: $c-text;
            font: 400 1rem/1.25 $f-secondary;
        } 
        &.active{
            a{
                font-weight: 600;
                color: $c-secondary;
            }
        }
        &:first-child{
            margin-right: 10px;
            &:after{
                content: "/";
                position: absolute;
                padding: 2px 3px;
                color: $c-text;
            }
        }
    }
}