
@import './variables';

.page{
    &.active{
        overflow: hidden;
        position: relative;
        &:before{
            position: absolute;
            content: '';
            display: block;
            background-color: #56555691;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 5;
        }
    }
}

.section{
    margin-bottom: 130px;
    &:first-child{
        margin-top: 30px;
    }
}

.promo-slider{
    .promo-slide{
        position: relative;
        @include d-flex (flex,space-between, normal);
        &-content{
            width: 42%;
            @include d-flex (flex,space-between, normal);
            flex-direction: column;
            margin-bottom: 35px;
        }
        &-img{
            width: 58%;
        }
        &__main{
            h2{
                max-width: 62%;
                margin-bottom: 40px;
            }
        }
        &__number{
            font: 600 3.875rem/0.88 $f-main;
            color:$c-primary;
        }
        &__discount{
            @include d-flex (flex,center, center); 
            background-color: #FAF5EF;
            border-radius: 5px;
            max-width: 130px;
            
        }
    }
    .slick-dots{
        position: absolute;
        z-index: 2;
        margin-top: -20px;
    }
    @media only screen and (max-width:1024px){
        .promo-slide{
            &-content{
                width: 55%;
            }
            &-img{
                width: 45%;
            }
        }
    }
    @media only screen and (max-width: 767px){
        max-width: 500px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        .promo-slide{
            flex-direction: column;
            &-content{
                width: 100%;
                margin-bottom: 15px;
            }
            &-img{
                width: 100%
            }
            &__main{
                a{
                    display: none;
                }
                h2{
                    max-width: 93%;
                    margin-bottom: 10px;  
                }
            }
            &__number{
                position: absolute;
                left: 10px;
                bottom: 30px;
                font-size: 1.875rem;
            }
            &__discount{
                max-width: 65px;
                margin-bottom: 20px;
            }
        }
        
    }
}

.brand-slider{
    .slick-slide{
        img{
            max-width: 200px;
            width: 100%;
            margin: 0 auto
        }
    } 
}

.section-feedback{
    @include d-flex (flex, center,flex-start);
    &__text-block{
        width: 50%;
    }
    &__img{
        width: 50%;
    }
    @media only screen and (max-width:1024px){
        flex-direction: column;
        &__text-block{
            width: 100%;
            h3{
                text-align: center;
            }
            form{
                & > div{
                    margin: 30px auto;
                }
                .button-wrap{
                    text-align: center;
                }
            }
        }
        &__img{
            width: 100%;
            text-align: center;
        }
    }
    @media only screen and (max-width: 767px){
        &__img{
            display: none;
        }
    }
}



.category{
    justify-content: space-between;
    padding: 15px 0;
    &-item{
        letter-spacing: 0.5px;
        position: relative;
           &:not(:last-child):after{
                content: '/';
                margin: 0 10px;
                display: block;
                color: $c-primary;
            } 
    }
}


.product{
    padding-top: 60px;
    align-items: flex-start;
    &-name{
        font: 600 1.5rem/1.115 $f-main;
        margin-bottom: 40px;
        
    }
    &__image{
        margin-right: 30px;
        width: 40%;
        border: 1px solid #EEF2F7;
        background-color: #F4F6F9;
        border-radius: 20px;

        img{
            border-radius: 20px;
            overflow: hidden;
            width: 100%;

        }
        span{
            display: block;
            text-align: center;
            padding: 15px 0;
        }
    }
    &__desc{
        padding-left: 30px;
        width: 65%;
    }
}





.faq{
    padding: 40px 0;
    &__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        h3{
            font: 600 1.5rem/1.25 $f-secondary;
        }
        .arrow{
            position: relative;
            display: block;
            width: 50px;
            height: 50px;
            &:hover{
                cursor: pointer;
            }
            &:before{
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                transform: rotate(-90deg);
                width: 50px;
                height: 50px;
                content: url('./../img/svg/icon-next.svg');

            }
        }
        &:hover {
            transition: all 0.5s ease-out;
        }
        &--active{
            .arrow{
                &:before{
                    transform: rotate(90deg);
                }
            }
        }
    }
    &__main{
        display: none;
        padding-top: 30px;
    }
    &-item{
        padding-bottom: 20px;
        &__header{
            font: 600 1.125rem/1.25 $f-secondary;
            padding-bottom: 15px;
        }
        &__main{
            font: 400 0.875rem/1.125 $f-secondary;
            color: #737373;
        }

    }
    @media only screen and (max-width: 1060px){
        &__header{
            h3{
                font-size: 1.125rem;
            }
        }
    }
}


.price{
    &-new{
        font: 400 0.875rem/1.121 $f-main;
        color: $text-color;
        padding-right: 6px;
    }
    &-old{
        font: 400 0.8125rem/1.15 $f-main;
        text-decoration: line-through;
        color: #737373;
        padding-right: 6px;
    }
    &-sales{
        font: 600 0.75rem/1.25 $f-main;
        color: #fff;
        padding: 2px 3px;
        border-radius: 4px;
        &--blue{
            background-color: $link-color;
        }
        &--red{
            background-color: $red-color;
        }
    }
}


.icon-wrapper{
    transform: scale(1);
    transition: transform .8s;
    &:hover {
        transform: scale(1.15);
        span{
            -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.12);
            -moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.12);
            box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.12); 
        }
        
    }
}

.input-wrap{
    max-width: 350px;
    width: 100%;
    margin-bottom: 25px;
    position: relative;
    input,
    textarea{
        border: 1px solid #969696;
        border-radius: 4px;
        width: 100%;
        height: 44px;
        padding: 5px 10px;
        transition: .4s all ease-in-out;
        &:hover{
            border-color: $c-secondary;
            cursor: pointer;
            
        }
        &:focus,
        &.filled{
             & + label{
                font-size: 0.625rem;
                top: 5px;
                
             }
        }
        &:focus{
            border-color: $c-secondary;
            & + label{
                color: $c-secondary;
             }
        }
    }
    label{
        position: absolute;
        top: 13px;
        left: 11px;
        transition: .4s all ease-in-out;
    }
    textarea{
        resize: none;
        height: 100px;
        padding: 15px 10px;
    }
}

.shop-hint{
    position: absolute; 
    z-index: 3;
    display: none;
    top: 35px;
    right: 0;
    background: #FFFFFF;
    border-radius: 6px; 
    -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.12);
        -moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.12);
        box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.12); 
    &-full{
        width: 350px;
        position: relative;
        &__header{
            font: 400 0.75rem/1.25 $f-secondary;
            border-bottom: 1px solid #F4F6F9;
            padding: 10px 15px;
        }
        &__item{
            display: flex;
            align-items: center;
            padding: 12px 15px;
            .main{
                flex: 1;
                padding: 0 10px;
                .title{
                    font: 400 0.875rem/1.25 $f-secondary;
                    padding-bottom: 2px;
                }
                .desc{
                    font: 400 0.75rem/1.25 $f-secondary;
                }
            }
            .image{
                width: 38px;
                height: 38px;
            }
            .delete{
                font: 400 0.75rem/1.25 $f-secondary;
                color: $red-color;
            }
            .value{
                font: 400 0.75rem/1.25 $f-secondary;
                padding-bottom: 3px;
            }
            
        }
        &__footer{
            text-align: center;
            padding: 19px 5px;
            a{
                color: $link-color;
                font: 400 0.75rem/1.25 $f-secondary;
                text-decoration: underline;
            }
        }
    }
    &-empty{
        width: 171px;
        position: relative;
        &__main{
            font: 400 0.875rem/1.25 $f-secondary;
            text-align: center;
            padding:20px 35px 0;
        }
        &__footer{
            text-align: center;
            padding: 19px 5px;
            a{
                color: $link-color;
                font: 400 0.75rem/1.25 $f-secondary;
            }
        }
    }
    span{
        position: relative;
        &::after {
            content: ''; 
            position: absolute;
            left: 51px;
            top: -17px;
            border: 10px solid transparent;
            border-bottom: 10px solid #fff; 
           }
    }
}