

@font-face {
    font-family: "Proxima Nova";
    src: url("/assets/fonts/ProximaNova-Regular.eot") format("eot"),
           url("/assets/fonts/ProximaNova-Regular.ttf") format("ttf");
   }

   @font-face {
    font-family: "Proxima Nova Bold";
    src: url("/assets/fonts/ProximaNova-Bold.eot") format("eot"),
           url("/assets/fonts/ProximaNova-Bold.ttf") format("ttf");
   }

   @font-face {
    font-family: "Proxima Nova SemiBold";
    src: url("/assets/fonts/ProximaNova-SemiBold.eot") format("eot"),
           url("/assets/fonts/ProximaNova-SemiBold.ttf") format("ttf");
   }