


$text-color: #000;
$btn-bg: #F9F4F4;
$section-bg:#FBFBFD;
$link-color: #4A5FFF;
$red-color: #FF5757;


// Fonts

$f-main: "Proxima Nova", sans-serif;
$f-main-b: "Proxima Nova Bold", sans-serif;
$f-main-sb: "Proxima Nova SemiBold", sans-serif;