

$c-primary: #63482f;
$c-secondary: #e0a867;
$c-text: #313131;

$text-color: #000;
$btn-bg: #F9F4F4;
$section-bg:#FBFBFD;
$link-color: #4A5FFF;
$red-color: #FF5757;


// Fonts

$f-main: 'Cormorant Garamond', serif;
$f-secondary: "Roboto", sans-serif;


// Mixin

@mixin d-flex($flex, $justify, $align) {
    display: $flex;
    justify-content: $justify;
    align-items: $align;
}