@import './reset';
@import './variables';
@import './buttons';
@import './header';
@import './footer';
@import './global';
@import './section';


.page{
    display: flex;
    height: 100%;
    flex-direction: column;
    main{
        flex: 1;
    }
}